<% var next = "<p><a class=\"btn btn-next btn-lg navigate-down\"><i class=\"glyphicon glyphicon-chevron-down\"></i></a></p>"; %>
<% var cols = "col-md-6 col-md-offset-3 col-xs-12 col-sm-10 col-sm-offset-1"; %>
<% var slide_start = revealjs? "<section>": "<div class=\"row\"><section class=\""+cols+"\">"; %>
<% var slide_end = revealjs? "</section>": "</section></div>"; %>
<section>
<%- slide_start %>
	<img style="height: <%= revealjs? 200: 300 %>px; position: relative; left: 5px; margin-top: 20px;" src="/assets/leven-in-compassie-logo.png"></img>
	<h1 class="home-title">Leven in Compassie</h1>
	<p>
		<span style="position: relative; left: 3px;">gebaseerd op <a href="/info/geweldloze-communicatie">Geweldloze Communicatie</a></span><br/>
		door <a href="/over/markmarijnissen">Mark Marijnissen</a>
	</p>
	<%- next %>
<%- slide_end %>
<%- slide_start %>
		<% if(!revealjs){%>
			<h2 class="mark-marijnissen-quote">"Het brengt mensen dichter bij elkaar"</h2>
		<% } %>
		<div class="row">
			<div class="col-xs-6 text-right">
				<img class="mark-marijnissen" style="width: 200px;" src="/assets/mark.jpg"></img>
			</div>
			<div class="col-xs-6 nr-left">
				<% if(revealjs){%>
					<h2 style="line-height: 1; margin-bottom: 20px;">"Het brengt mensen dichter bij elkaar"</h2>
				<% } %>
				<p>
					Ik geef al jarenlang workshops gebaseerd op Geweldloze Communicatie.
				</p>
				<p>
					Ik ben steeds weer onder de indruk hoe deze methode veiligheid biedt om 
					mensen open en kwetsbaar te laten zijn. 
				<p>
				<p>
					Ik geniet van de verbinding, zelf-compassie en inzicht dat daarvan komt.
				</p>
			</div>
		</div>
		<%- next %>
<%- slide_end %>
<% if(revealjs) { %>
<section>
<% } else { %>
<div class="row">
	<section class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<% } %>
		<h2>Aanbod</h2>
 		<div class="row">
 			<div class="col-xs-4">
 				<h2>Compassie</h2>
 			</div>
 			<div class="col-xs-4 highlight">
 				<h2>Training</h2>
 			</div>
 			<div class="col-xs-4">
 				<h2>Zakelijk</h2>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-xs-4 ">
 				<p>Voel je afstand of stress? Ga je door een moeilijke tijd?</p>
 			</div>
 			<div class="col-xs-4  highlight">
 				<p>Wil je meer compassie en verbinding met jezelf en anderen?</p>
 			</div>
 			<div class="col-xs-4 ">
 				<p>Workshops voor o.a. empathisch luisteren en omgaan met conflict.</p>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-xs-4 ">
 				<p>Met <a href="/aanbod/1-op-1-compassie">1-op-1 compassie</a> of een <a href="/aanbod/relate-sessie">relatie sessie</a> geef ik opluchting, inzicht en compassie.
 			</div>
 			<div class="col-xs-4  highlight">
 				<p>Met <a href="/aanbod/persoonlijke-coaching">persoonlijke coaching</a> leer je zelf verbinding, zelf-compassie en kracht te scheppen.</p>
 			</div>
 			<div class="col-xs-4 ">
 				<p>Herstel harmonie op de werkvloer met conflict-bemiddeling.</p>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-xs-4">
 				<p><a href="/aanbod/1-op-1-compassie" class="btn btn-primary">Ontvang compassie</a></p>
 			</div>
 			<div class="col-xs-4 highlight">
 				<p><a href="/aanbod/persoonlijke-coaching" class="btn btn-primary">Leer verbinden</a></p>
 			</div>
 			<div class="col-xs-4">
 				<p><a href="/aanbod/voor-bedrijven" class="btn btn-primary">Boek nu</a></p>
 			</div>
 		</div>
 		<hr style="margin: 10px 0;"/>
		<p>Wil je kennismaken met de methode? <br/>Kom eens langs op een <a href="/aanbod/oefengroep">open oefengroep</a>.</p>
		<%- next %>
<%- slide_end %>
<%- slide_start %>
		<h2>Reacties van anderen</h2>
		<blockquote class="reactie text-left homepage">
			"Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen. (...) 
			Zijn manier van werken heeft echt gezorgd voor verbinding."
		</blockquote>
		<blockquote class="reactie text-left right homepage">
			"Ik ga al maanden naar de psycholoog, maar ik vind het moeilijk tot de kern te komen. Dat is met met jou in één middag gelukt!" 
		</blockquote>
		<blockquote class="reactie text-left homepage">
			"Ik vind het ontzettend bijzonder om te merken wat het voor deurtjes 
	opent in het contact met anderen."
		</blockquote>
		<div class="clearfix"></div>
		<%- next %>
<%- slide_end %>
<%- slide_start %>
		<h2>Ervaar het zelf</h2>
		<p>Met woorden kan ik je niet de kracht van compassie laten zien.<br/>
		Het liefst laat ik je de verbinding, inzicht en warmte zélf ervaren.</p>

		<p>Kom je naar de <a href="/aanbod/oefengroep">Open Oefengroep</a>? <br/>Ik verstuur per e-mail een uitnodiging.</p>
		<p class="text-center">
			<form style="width: 400px; display: inline-block;" class="form" action="https://tinyletter.com/nvcnijmegen" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nvcnijmegen', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="e-mail" name="email" id="tlemail">
						<span class="input-group-btn">
						<input type="submit" value="Aanmelden" class="btn btn-primary">
						</span>
					</div>
					<input type="hidden" value="1" name="embed">
					<input type="hidden" value="pa5pb4asa1da33wpc6cbe90qiqe01aeex6" name="anti-captcha-token">
			</form>
		</p>
		<p>Of bel me op voor een kennismaking:
		<%- partial('_callmeback.ejs') %>
		</p>
<%- slide_end %>
</section>