<% var next = "<p><a class=\"btn btn-next btn-lg navigate-down\"><i class=\"glyphicon glyphicon-chevron-down\"></i></a></p>"; %>
<% var cols = "col-md-6 col-md-offset-3 col-xs-12 col-sm-10 col-sm-offset-1"; %>
<% var slide_start = revealjs? "<section>": "<div class=\"row\"><section class=\""+cols+"\">"; %>
<% var slide_end = revealjs? "</section>": "</section></div>"; %>
<section>
<%- slide_start %>
	<img style="height: <%= revealjs? 200: 300 %>px; position: relative; left: 5px; margin-top: 20px;" src="/assets/leven-in-compassie-logo.png"></img>
	<h1 class="home-title">Leven in Compassie</h1>
	<p>
		Aandacht, verbinding en groei
	</p>
	<%- next %>
<%- slide_end %>
<%- slide_start %>
	<h2>Waar is compassie goed voor?</h2>
	<%- partial('_voordelen.ejs') %>
	<%- next %>
<%- slide_end %>
<% if(revealjs) { %>
<section>
<% } else { %>
<div class="row">
	<section class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<% } %>
	<h2>Aanbod</h2>
	<%- partial('aanbod/index',{ embed: true }) %>
		<%- next %>
<%- slide_end %>
<%- slide_start %>
		<h2>Door Mark Marijnissen</h2>
		<img class="mark-marijnissen" style="width: 250px; max-width: 100%;" src="/assets/mark.jpg">
		<div class="text-left">
			<%- partial('_markmarijnissen') %>
		</div>
		<%- next %>
<%- slide_end %>
<%- slide_start %>
		<h2>Reacties van anderen</h2>
		<blockquote class="reactie text-left homepage">
			"Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen. (...)
			Zijn manier van werken heeft echt gezorgd voor verbinding."
		</blockquote>
		<blockquote class="reactie text-left right homepage">
			"Ik ga al maanden naar de psycholoog, maar ik vind het moeilijk tot de kern te komen. Dat is met met jou in één middag gelukt!"
		</blockquote>
		<blockquote class="reactie text-left homepage">
			"Ik vind het ontzettend bijzonder om te merken wat het voor deurtjes
	opent in het contact met anderen."
		</blockquote>
		<div class="clearfix"></div>
		<%- next %>
<%- slide_end %>
<%- slide_start %>
		<h2>Ervaar het zelf</h2>
		<p>Met alleen woorden kan ik je de kracht van compassie niet laten voelen.<br/>
		Het liefst laat ik je de verbinding, inzicht en warmte zélf ervaren.</p>

		<p class="text-center"><strong>Ontvang een uitnodiging voor de volgende activiteit:</strong>
		<%- partial('_newsletter.ejs') %>
		</p>
<%- slide_end %>
</section>
<% if(!revealjs) { %>
</div>
<% } %>
