ul.nav.nav-pills.hidden-xs: each item in menu
  if item.href
    if item.blank
      li: a(href="#{item.href}",target="_blank") #{item.title}
    else
      li: a(href="#{item.href}") #{item.title}
  else
    li.dropdown
      a.dropdown-toggle(href="#",data-target="#",data-toggle="dropdown") 
        | #{item.title}
        span.caret(style="line-height: 10px;")
      ul.dropdown-menu
        each subitem in item.items
          if subitem.title === '---'
            li.divider
          else if subitem.blank
            li: a(href="#{subitem.href}",target="_blank") #{subitem.title}
          else
            li: a(href="#{subitem.href}") #{subitem.title}
form.form-inline.visible-xs
  .input-group
    span.input-group-addon.menu Menu: 
    select#navselect.form-control.menu-select
      each item in menu
        if item.href
          option(value="#{item.href}") #{item.title}
        else 
          optgroup(label="#{item.title}")
            each subitem in item.items
              if subitem.title !== '---'
                option(value="#{subitem.href}") #{subitem.title}
