ul.nav.nav-pills: each item in menu
  if item.href
    if item.blank
      li: a(href="#{item.href}",target="_blank") #{item.title}
    else
      li: a(href="#{item.href}") #{item.title}
  else
    li.dropdown
      a.dropdown-toggle(href="#",data-target="#",data-toggle="dropdown") #{item.title}
      ul.dropdown-menu
        each subitem in item.items
          if subitem.title === '---'
            li.divider
          else if subitem.blank
            li: a(href="#{subitem.href}",target="_blank") #{subitem.title}
          else
            li: a(href="#{subitem.href}") #{subitem.title}
